<menu class="jiamo-footer-navbar">
    <a href="fwsy.html" class="col-lg-3"><i class="iconfont icon-fangweisuyuan"></i>防伪溯源</a>
    <a href="product.html" class="col-lg-3"><i class="iconfont icon-company_quality"></i>产品展示</a>
    <a href="qjjs" class="col-lg-3"><i class="iconfont icon-2chanpinzhanshieps"></i>企业介绍</a>
    <a href="" class="col-lg-3"><i class="iconfont icon-shouye"></i>官方网站</a>
</menu>
