<section class="footer">
    <a href="fwsy.html" class="col-lg-4 col-lg"><i class="iconfont icon-fwsy"></i>产品防伪</a>
    <a href="product.html" class="col-lg-4 col-lg"><i class="iconfont icon-recommend"></i>菜谱推荐</a>
    <a href="javascript:;" class="col-lg-4 col-lg toggle-game-cot"><i class="iconfont icon-game"></i>活动规则</a>
</section>
