<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>饭扫光</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,user-scalable=yes,minimum-scale=1.0,maximum-scale=1"/>
	<link rel="stylesheet" href="css/common.min.css">
	<link rel="stylesheet" href="css/app.min.css">
</head>
<body ontouchstart=''>
	<section class="webview">
		<div class="header-logo"></div>
        <div class="qrcodesmall-box">
            <div class="qrcodesmall">
                <img src="images/qrcode.png">
                <div class="qrcodesmall-line"></div>
            </div>
        </div>
		<div class="footer-img">
			<img src="images/4.png" width="100%">
			<em></em>
		</div>
	</section>
	<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>
