<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>饭扫光</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta name="viewport" content="width=device-width,user-scalable=yes,minimum-scale=1.0,maximum-scale=1" />
	<link rel="stylesheet" href="css/common.min.css">
	<link rel="stylesheet" href="css/app.min.css">
	<style>
		html {
			background-image: none;
			background-color: #e9e9e9;
		}
	</style>
</head>

<body ontouchstart=''>
	<section class="webview">
		<img src="images/4.png" width="100%">
		<div class="page">
			<div class="icon-zhengpin"></div>
			<div class="page-info">
                谢谢您购买川老汇红油郫县豆瓣<strong class="prompt-color">正品</strong>，<br>该二维码为第<strong class="prompt-color">1</strong>次扫码，<br>请放心使用。
			</div>
	</section>
	<% include components/menu.ejs %>
</body>

</html>
