// author: Princeraul
// email: suliangprinceraul@gmail.com
// time: 2016-09-14
@charset 'utf-8';
@import 'page-public';

// page
.page {
	padding: 0 3%;

	h3 {
		margin: 10px 0;
	}

	p {
		padding: 0;
		margin: 5px 0;
		text-indent: 2em;
   }
}

.copyright {
	margin-top: 35px;
	color: $graylittle;
	font-size: 12px;
	text-align: center;
}

// footer
@include footer();

// 初始化icon
.iconfont {
	@extend %iconfont;

	display: inline-block;
}

.icon-company::before {
	@extend %icon-company;
	color: map-get($icon-color, 'red');
}

.icon-product::before {
	@extend %icon-product;
	color: map-get($icon-color, 'blue');
}

.product-item {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: table;
		overflow: hidden;
		margin-bottom: 15px;
		background-color: $white;

		img {

		}
	}

	.product-item-img {
		display: table-cell;
		width: 180px;
		background-color: #FFFCF3;
		vertical-align: middle;

		img {
			width: 180px;
			height: 180px;
		}
	}

	.product-item-txt {
		display: table-cell;
		padding: 15px;
		font-size: 14px;
		vertical-align: middle;

		h3 {
			color: #dc0a00;
			margin: 0;
			padding: 0
		}

		p {
			margin: 0;
			padding: 0
		}
	}
}
