<menu class="quanwei-footer-navbar">
    <a href="fwsy.html" class="col-lg-6"><i class="iconfont icon-fangweisuyuan"></i>防伪溯源</a>
    <a href="qjjs" class="col-lg-6"><i class="iconfont icon-company_quality"></i>企业介绍</a>
</menu>
