<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>demo</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,user-scalable=yes,minimum-scale=1.0,maximum-scale=1"/>
	<link rel="stylesheet" href="css/app.min.css">
</head>
<body>
	<article class="webview fenjiu-page">
        <img src="images/logo.png" class="logo">
        <img src="images/win.png" class="winla">
        <div class="packet">
            <span>2.22<small>元</small></span>
        </div>
        <div class="md-style-win">
            恭喜您获得<br>
            由百事可乐公司提供的
            <b>微信现金红包2.22元</b>
            <a class="btn btn-winered dialog-fade-gzh">立即领奖</a>
        </div>

        <!-- <p class="touch-tip">长按识别上方二维码,关注领取奖品</p> -->

        <div class="copyright">
            如果您对活动有任何疑问<br>
            欢迎拨打热线 <a href="tel">028-85121927</a><br>
            我们将竭诚为您服务！
            <p>技术支持：成都纳宝科技</p>
        </div>
        <div class="dialog">

        </div>
		<!-- 未关注二维码 -->
        <div class="two-code" style="posiztion: fixed">
            <img src="images/ewm.png">
            <div class="two-code-line"></div>
        </div>
        <!-- 浮层提示 -->
        <!-- <section class="not-gzh">亲，关注公众号才可领取奖品哦！</section> -->
        <!-- 领奖成功提示 -->
        <section class="yes-win">
            <h3>温馨提示 <a href="javascript:;" class="colse hide-dialog">X</a></h3>
            <div class="yes-win-cot">
                <span class="icon-right"></span><br>
                奖品领取成功
            </div>
        </section>
        <div class="footer-navbar">
			<a href="">活动规则</a>
			<a href="">隐私条款</a>
		</div>

	</article>
	<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/common.min.js"></script>
</body>
</html>
