@charset 'UTF-8';
@import 'dialog';

.two-code {
	@extend %transformScale;

	width: 300px;
	height: 407px;
	text-align: center;

	img {
		width: 100%;
		height: 100%;
	}

	.two-code-line {
		position: absolute;
		top: 150px;
		z-index: -1;
		right: 50px;
		width: 68px;
		height: 2px;
		background: url(../images/line.png) no-repeat;
		background-size: 68px 2px;
		// animation: qrcode-line 2s infinite ease;
	}
}

.dialog-active.two-code{
	@extend %transformScale-active;

	.two-code-line {
		z-index: 999;
		animation: qrcode-line 2s infinite ease;
	}

}

.touch-tip {
	margin: 10px 0 0;
	text-align: center;
}

@keyframes qrcode-line{
	0%{
		top: 145px;
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		top: 215px;;
		opacity: 0;
	}
}
