<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美年达</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,user-scalable=yes,minimum-scale=1.0,maximum-scale=1"/>
	<link rel="stylesheet" href="css/app.min.css">
	<style>
		html, body{
			height: 100%;
		}
	</style>
</head>
<body ontouchstart=''>
	<section class="webview mirinda">
		<div class="mirinda-cot">
			<img src="images/1.png" width="100%">
			<div class="draw-btn">
				<a class="btn btn-gradual-yellow" href="prize.html">立即抽奖</a>
			</div>
        </div>
		<div class="copyright">本次活动最终解释权归味之浓公司所有</div>
	</section>
	<% include components/menu.ejs %>
	<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/common.min.js"></script>
</body>
</html>
