<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>夹馍酱®</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,user-scalable=yes,minimum-scale=1.0,maximum-scale=1"/>
	<link rel="stylesheet" href="css/app.min.css">
    <style>
        html {
            background-color: #E9E9E9;
        }
    </style>
</head>
<body ontouchstart=''>
	<section class="webview jiamo">
        <img src="images/2.jpg" width="100%">
        <div class="jiamo-cot">
            <h3>感谢购买味之浓品牌产品,该二维码为第 1 次扫码，请放心使用！</h3>
            <span>溯源信息</span>
            地址：四川省眉山市东坡区泡菜产业园坛香路1号<br>
            电话：028-38781877 总台<br>
            　　　028-38781860 营销中心<br>
            传真：028-38781929
        </div>
        <div class="copyright copyright-s">本次活动最终解释权归味之浓公司所有</div>

	</section>
	<% include components/menu.ejs %>
	<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/common.min.js"></script>
</body>
</html>
