<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>夹馍酱®</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,user-scalable=yes,minimum-scale=1.0,maximum-scale=1"/>
	<link rel="stylesheet" href="css/app.min.css">
    <style>
        html {
            background-color: #E9E9E9;
        }
    </style>
</head>
<body ontouchstart=''>
	<section class="webview jiamo">
        <ul class="jiamo-list">
            <a href=""><li>“夹馍酱<sup>®</sup>调料”系列产品</li></a>
            <a href=""><li>“酱调料”系列产品</li></a>
            <a href=""><li>“火锅底料”系列产品</li></a>
            <a href=""><li>“鱼调料”系列产品</li></a>
            <a href=""><li>“面调料”系列产品</li></a>
            <a href=""><li>“泡菜”系列产品</li></a>
        </ul>
		<div class="copyright copyright-s">本次活动最终解释权归味之浓公司所有</div>
	</section>
	<% include components/menu.ejs %>
	<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/common.min.js"></script>
</body>
</html>
