<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>全味直通车</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,user-scalable=yes,minimum-scale=1.0,maximum-scale=1"/>
	<link rel="stylesheet" href="css/app.min.css">
	<style>
		html, body{
			min-height: 100%;
		}
	</style>
</head>
<body ontouchstart=''>
	<section class="webview quanwei">
        <div class="quanwei-code">
            <div class="two-code small-two-small dialog-active">
                <img src="images/ewm.png">
                <div class="two-code-line"></div>
            </div>
        </div>
	</section>
	<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>
