<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>夹馍酱®</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta name="viewport" content="width=device-width,user-scalable=yes,minimum-scale=1.0,maximum-scale=1" />
	<link rel="stylesheet" href="css/app.min.css">
	<style>
		html {
			background-image: none;
		}
	</style>
</head>

<body ontouchstart=''>
	<section class="webview quanwei">
		<img src="images/banner.jpg" width="100%">
		<div class="quanwei-cot">
			<p>全味食品自1995年由新加坡全味食品企业私人有限公司创建，经过全味人不断努力，已发展成全味控股的集团公司，集生产、研发、营销、物流于一体的大型食品企业。拥有天津、成都、广州等多个生产基地，全味商标被评为天津市著名品牌。我公司生产的产品有休闲膨化系列、炒货系列（青豆类、花生类、坚果类）、米（麦）通系列、巧克力系列、烘焙系列、挤压膨化胚料系列等。</p>
			<p>全味食品科学管理，诚信经营，企业发展的同时，也怀着强烈的社会责任感，把倡导绿色、生态作为企业发展根本，努力打造“全味新形象，品质更优良”的经营理念。</p>
			<p>我们凝聚了精益求精的管理队伍，我们汇聚了高端的研发人才，我们拥有强大的营销团队，拥有一大批忠诚的客户，我们将继续竭诚为客户提供优质的服务。无论全味食品拥有怎样的业绩，我们对业界和市场时刻充满敬畏之心，我们每一天都在不断探索、进步，我们诚邀新老客户共建更辉煌的明天。</p>
		</div>
	</section>
	<% include components/menu.ejs %>
		<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
		<script src="js/common.min.js"></script>
</body>

</html>
