@charset 'utf-8';
@import 'views/index';
@import 'sprite/sprite';

html {
	height: 100%;
}

body {
	padding-top: 20px;
	background: url('../images/bg.jpg') center top no-repeat #002762;
	background-size: 100%;
}
